<h1>Editing anthropology</h1>

<%= render "form", anthropology: @anthropology %>

<br>

<div>
  <%= link_to "Show this anthropology", @anthropology %>
  |
  <%= link_to "Back to anthropologies", anthropologies_path %>
</div>
