<h1>Editing page image</h1>

<%= render "form", page_image: @page_image %>

<br>

<div>
  <%= link_to "Show this page image", @page_image %>
  |
  <%= link_to "Back to page images", page_images_path %>
</div>
