<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <p>
      Your Login Code is: <%= @user.code_hash %>.<br>
    </p>
    </p>
    <p>Thanks for using AutArch!</p>
  </body>
</html>
