<h1>Editing stable isotope</h1>

<%= render "form", stable_isotope: @stable_isotope %>

<br>

<div>
  <%= link_to "Show this stable isotope", @stable_isotope %>
  |
  <%= link_to "Back to stable isotopes", stable_isotopes_path %>
</div>
