<div id="<%= dom_id chronology %>">
  <p>
    <strong>Period:</strong>
    <%= chronology.period %>
  </p>

  <p>
    <strong>Context from:</strong>
    <%= chronology.context_from %>
  </p>

  <p>
    <strong>Context to:</strong>
    <%= chronology.context_to %>
  </p>

</div>
