<h1>Editing chronology</h1>

<%= render "form", chronology: @chronology %>

<br>

<div>
  <%= link_to "Show this chronology", @chronology %>
  |
  <%= link_to "Back to chronologies", chronologies_path %>
</div>
