<h1>Editing mt haplogroup</h1>

<%= render "form", mt_haplogroup: @mt_haplogroup %>

<br>

<div>
  <%= link_to "Show this mt haplogroup", @mt_haplogroup %>
  |
  <%= link_to "Back to mt haplogroups", mt_haplogroups_path %>
</div>
