<nav class='nav' aria-label="Page navigation example">

  <ul class="pagination">
    <li class="page-item">
      <a
        class="page-link"
        href="<%= publication_page_path(@publication, @publication.pages.order(:id).where('id < ?', @page.id).last || @page.id) %>"
      >Previous</a></li>
    <li class="page-item">
      <a
        class="page-link"
        href="<%= publication_page_path(@publication, @publication.pages.order(:id).where('id > ?', @page.id).first || @page.id) %>"
      >Next</a></li>
  </ul>
</nav>

<%= react_component(
  "AddFigures",
  {
    props: {
      image: @page.image.as_json.merge(href: @page.image.url),
      pageFigures: @page.figures.select { (_1.probability || 1) > 0.6 }.as_json(methods: [:type]),
      page: @page,
      next_url: publication_page_path(@publication, @page)
    }
  }
) %>
