<div id="<%= dom_id kurgan %>">
  <p>
    <strong>Width:</strong>
    <%= kurgan.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= kurgan.height %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= kurgan.name %>
  </p>

</div>
