<h1>Editing y haplogroup</h1>

<%= render "form", y_haplogroup: @y_haplogroup %>

<br>

<div>
  <%= link_to "Show this y haplogroup", @y_haplogroup %>
  |
  <%= link_to "Back to y haplogroups", y_haplogroups_path %>
</div>
