<%= pie_chart @data, library: { plugins: { legend: { labels: { fontSize: 30 } } } } %>

<div>
  Pages:
  <%= @publication.pages.count %>
</div>
ArtefactMisc
<table class='table'>
  <thead>
    <tr>
      <th>Type</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @data.sort_by { _1[1] }.reverse.each do |type, count| %>
      <tr>
        <td style="font-size: 18px"><%=
          if type == 'Kurgan'
            'Burial Mound'
          elsif type == 'Oxcal'
            'OxCal Diagram'
          elsif type == 'Arrow'
            'Orientation Arrow'
          else
            type
          end
        %></td>
        <td style="font-size: 18px"><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
