<div id="<%= dom_id taxonomy %>">
  <p>
    <strong>Culture:</strong>
    <%= taxonomy.culture %>
  </p>

  <p>
    <strong>Culture note:</strong>
    <%= taxonomy.culture_note %>
  </p>

  <p>
    <strong>Culture reference:</strong>
    <%= taxonomy.culture_reference %>
  </p>

</div>
