<%= render("stepper") %>

<div class="alert alert-primary" role="alert">
  This tab shows you the contours of all detected objects that relate to this grave.
  Make sure that the grave cut is included.
</div>

<div class='row'>
  <div class='col-md-6'>
    <%= render(
      FigureViewComponent.new(
        figures: @grave.figures,
        image: @grave.page.image,
        contours: true
      )
    ) %>
  </div>
  <div class='col-md-6'>
    <%= simple_form_for(@grave, url: wizard_path) do |f| %>
      <%= f.submit("Next", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>
