<div id="<%= dom_id site %>">
  <p>
    <strong>Lat:</strong>
    <%= site.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= site.lon %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= site.name %>
  </p>

</div>
